HELP.md
.gradle
build/
.git

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

.idea
*.iws
*.iml
*.ipr

nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

